<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whackerlink 3.0</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<form method="GET" action="/radio">
    <label for="channels">Choose a channel:</label>

    <select name="channel" id="channels">
        <option value="Main">Main</option>
        <option value="TAC 1">TAC 1</option>
        <option value="TAC 2">TAC 2</option>
        <option value="TAC 3">TAC 3</option>
    </select>
    <br />
    <input type="text" name="rid">
</form>
</body>